{{ define "main" }}
<div class="flex-grow m-auto max-w-xl my-12 px-5">
  <h1 class="mb-4 text-3xl">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <div class="markdown">
    {{ .Content }}
  </div>
</div>
{{ end }}
