{{ define "main" }}
  <div class="flex-grow">
    <div class="m-auto max-w-5xl my-6 lg:my-12 px-5 flex flex-col lg:flex-row">
      <!-- Sidebar -->
      <div class="lg:mr-12">
        {{ block "docs-sidebar" . }}{{ end }}
      </div>
      <!-- Content -->
      <div class="flex-grow min-w-0">
        <h1 class="mb-2 text-3xl">{{ .Title }}</h1>
        {{ if .Description }}<div class="mt-0 mb-4">{{ .Description }}</div>{{ end }}
        <hr class="mb-6" />
        <div class="markdown">
          {{ .Content }}
        </div>
        {{ block "docs-prev-next" . }}{{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "docs-sidebar" }}
<!-- sidebar start -->
<aside class="whitespace-nowrap">
  <!-- Button to toggle menu on small screens -->
  <div class="lg:hidden">
    <button id="sidebar-toggle" class="btn-primary w-full mb-4">Toggle docs menu</button>
  </div>
  <div id="sidebar-menu" class="hidden lg:flex lg:flex-col">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.docs }}
      <li class="pb-6">
        <a href="{{ .URL }}"
          class="block pb-1 font-medium uppercase text-color-header hover:text-color-link-light {{ if $currentPage.IsMenuCurrent "docs" . }} text-color-link-light font-bold {{ end }}">{{ .Name }}</a>
        {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
          <li class="pb-1">
            <a href="{{ .URL }}"
              class="text-color-body hover:text-color-link-light {{ if $currentPage.IsMenuCurrent "docs" . }} text-color-link-light font-bold {{ end }} ">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</aside>
<script>
  // Hamburger sidebar implementation
  (() => {
    const sidebar = {
      button: document.querySelector("#sidebar-toggle"),
      menu: document.querySelector("#sidebar-menu"),
      toggle: (e) => {
        sidebar.menu.classList.toggle("hidden");
      },
    };
    sidebar.button.addEventListener("click", sidebar.toggle);
  })();
</script>
{{ end }}

{{ define "docs-prev-next" }}
<nav class="flex justify-between my-12">
  <div>
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="flex items-center hover:text-color-link-light">
      <div>&larr;</div>
      <div class="p-2">
        <div class="text-xs uppercase">Previous</div>
        <div>{{.Title}}</div>
      </div>
    </a>
    {{ end }}
  </div>
  <div>
    {{ with .PrevInSection }}
      <a href="{{ .Permalink }}" class="flex items-center hover:text-color-link-light">
        <div class="p-2">
          <div class="text-xs uppercase">Next</div>
          <div>{{.Title}}</div>
        </div>
        <div>&rarr;</div>
      </a>
    {{ end }}
  </div>
</nav>
{{ end }}
