{{ define "main" }}
<div class="flex-grow m-auto max-w-2xl my-6 lg:my-12 px-5">
  <h1 class="mb-2 text-3xl">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  {{ if .Description }}<div class="mt-0 mb-4">{{ .Description }}</div>{{ end }}
  <hr class="mb-6" />
  <div class="markdown mb-6">
    {{ .Content }}
  </div> 
</div>
{{ end }}
