{{ define "main" }}
<div class="flex-grow m-auto max-w-xl my-12 px-5">
  <!-- List of article previews -->
  {{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) -}}
  {{ range $paginator.Pages }}
  <article class="mb-12">
    <a href="{{ .RelPermalink }}">
      <h1 class="mb-2 text-3xl">{{ .Title }}</h1>
      <time class="mb-6 flex justify-between">
        <p>{{ .Date.Format "January 2, 2006" }}</p>
        <p>Read in {{ .ReadingTime }} minutes</p>
      </time>
      <div class="mb-6 markdown">
        <p>{{ .Description | markdownify }}</p>
      </div>
      <p class="text-link font-bold">Read more →</p>
    </a>
  </article>
  {{ end }}
  <!-- Next/previous page -->
  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="flex justify-between mt-16 mb-6">
    {{ if .Paginator.HasNext }}
    <a title="Previous Page" href="{{ .Paginator.Next.URL }}">
      &larr; Previous page
    </a>
    {{ end }}
    {{ if .Paginator.HasPrev }}
    <a title="Next page" href="{{ .Paginator.Prev.URL }}">
      Next page &rarr;
    </a>
    {{ end }}
  </nav>
  {{ end }}
</div>
{{end}}
