{{ define "main" }}
<div class="flex-grow m-auto max-w-xl my-12 px-5">
  <h1 class="mb-2 text-3xl">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <time class="flex justify-between mb-6">
    <p>{{ .Date.Format "January 2, 2006" }}</p>
    <p>Read in {{ .ReadingTime }} minutes</p>
  </time>
  <div class="markdown">
    {{ .Content }}
  </div>
</div>
{{ end }}
