<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  {{ partial "head" . }}
  <body class="bg-white flex flex-col min-h-screen">
    {{ if .Params.Banner }}
    <div class="text-sm text-center text-white light-links p-4 bg-black">
      {{ .Site.Params.Banner | markdownify }}
    </div>
    {{ end }}
    {{ partial "nav" . }}
    {{ block "main" . }} <!-- The part that differs between pages --> {{ end }}
    {{ partial "footer" . }}
  </body>
</html>
