{{ define "main" }}
<div class="flex-grow m-auto max-w-xl my-12 px-5">
  <h1 class="mb-2 text-3xl">{{ .Title }}</h1>
  <ul>
    {{ range .Pages }}
    <li>
      <a class="text-link" href="{{ .RelPermalink }}">
        {{ if .Title }}{{ .Title }}{{ else }} No title {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
