{{ define "main" }}
<!-- hero -->
<div class="pt-24 pb-20 bg-primary text-white">
  <div class="flex flex-col lg:flex-row max-w-screen-xl m-auto mb-16">
    <div class="lg:w-1/2 m-auto px-5 mb-12 lg:mb-0">
      <h1 class="text-5xl font-bold text-center lg:text-left text-white leading-snug mb-6">{{
        .Params.Hero.title | safeHTML }}</h1>
      <p class="text-xl leading-normal text-center lg:text-left mb-6">{{ .Params.Hero.subtitle | safeHTML }}</p>
      <div class="flex justify-center space-x-4 lg:justify-start">
        {{ range .Params.Hero.buttons }}
        <a href="{{ .url }}">
          <div class="btn btn-large {{ if .primary }} btn-primary {{ end }}">
            {{ .label }}
          </div>
        </a>
        {{ end }}
      </div>
    </div>
    <!-- demo -->
    <div class="lg:w-1/2 lg:m-auto px-5">
      {{ partial "demo" }}
    </div>
  </div>
</div>


<!-- See it live -->
<div class="bg-primary text-white pb-32">
  <h2 class="text-4xl font-bold text-center mb-4">{{ .Params.LiveStreams.title | safeHTML }}</h2>
  <div class="text-xl font-bold text-center mb-12">{{ .Params.LiveStreams.subtitle | safeHTML }}</div>
  <div class="m-auto px-5 max-w-xl xl:max-w-screen-xl grid justify-items-stretch grid-cols-2 xl:grid-cols-4 gap-6 ">
    {{ range .Params.LiveStreams.streams }}
    <a href="{{ .url }}" class="rounded hover:opacity-75" style="background-color: #{{ .color }};">
      <div class="h-full rounded text-black p-6">
        <img class="rounded mb-2 w-8 h-8" src={{ .icon }}>
        <div class="text-md font-bold mb-1">{{ .project }}</div>
        <div class="text-lg font-bold mb-2">{{ .stream }}</div>
        <div>{{ .description }}</div>
      </div>
    </a>
    {{ end }}
  </div>
</div>

<!-- features #1 -->
{{ block "features" .Params.Features1 }} {{ end }}
<!-- features #2 -->
{{ block "features" .Params.Features2 }} {{ end }}
<!-- features #3 -->
{{ block "features" .Params.Features3 }} {{ end }}

<!-- footer hero -->
<div class="pt-24 pb-12 bg-primary text-white border-b border-gray-800">
  <div class="m-auto max-w-3xl px-5 mb-6">
    <h2 class="text-4xl font-bold text-center text-white leading-normal mb-12">{{ .Params.Footer.title | safeHTML }}
      </h1>
      <p class="text-xl text-center mb-16">{{ .Params.Footer.subtitle | safeHTML }}</p>
      <div class="flex justify-center">
        {{ range .Params.Footer.buttons }}
        <a href="{{ .url }}">
          <div class="btn btn-large mx-3 {{ if .primary }} btn-primary {{ end }}">
            {{ .label }}
          </div>
        </a>
        {{ end }}
      </div>
  </div>
</div>
{{ end }}

{{ define "features" }}
<div class="mb-32 m-auto max-w-screen-xl px-5">
  <h2 class="text-4xl text-left mt-24 font-bold">{{ .title }}</h2>
  <h3 class="lg:mb-16 text-lg md:text-xl">{{ .subtitle }}</h3>
  <div class="flex flex-col lg:flex-row lg:items-center {{ if eq .textSide "left" }} lg:flex-row-reverse {{ end }}">
    <img class="my-8 {{ if eq .textSide "left" }} lg:ml-16 {{ else }} lg:mr-16 {{ end }} md:w-4/5 lg:w-1/2"
      src="{{ .image }}">
    <div class="lg:w-1/2">
      {{ range .Features }}
      <div class="flex items-center">
        <div class="rounded bg-gray-500 mr-3 w-2 h-2"></div>
        <h3 class="text-xl font-bold">{{ .title }}</h3>
      </div>
      <div class="markdown ml-5 mb-4">
        <p>{{ .description | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}