{{ define "main" }}
<div class="flex-grow my-12 px-5">
  <!-- hero -->
  <div>
    <h1 class="text-5xl font-bold leading-normal text-center mt-24 mb-6">{{ .Params.Hero.title | safeHTML }}</h1>
    <p class="text-lg text-center">{{ .Params.Hero.subtitle | safeHTML }}</p>
  </div>
  <!-- plans -->
  <h2 class="text-xl text-center mt-24 mb-12 uppercase text-gray-700 font-medium">Pricing Plans</h2>
  <div class="my-16 sm:flex">
    {{ range .Params.Plans }}
    <div class="flex-1 px-2 py-1">
      <div class="flex flex-col items-center px-4 py-12 h-full border border-solid rounded-lg border-gray-400">
        <h3 class="flex-none text-center text-xl">{{ .name }}</h3>
        <h4 class="flex-none text-center my-6 text-2xl font-bold">{{ .price }}</h4>
        <div class="flex-grow mb-6">
          <ul>
            {{ range .features }}
            <li class="mb-2 text-center">{{ . | safeHTML }}</li>
            {{ end }}
          </ul>
        </div>
        <a class="flex-none" href="{{ .url }}">
          <div class="btn-primary btn-large">
            {{ .action }}
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
  <!-- pricing faq -->
  <h2 class="text-xl text-center mt-24 mb-12 uppercase text-gray-700 font-medium">Frequently Asked Questions</h2>
  <div class="m-auto max-w-xl flex flex-col items-center">
    {{ range .Params.FAQ }}
    <div class="mb-12">
      <h3 class="text-lg font-bold mb-4">{{ .question }}</h3>
      <div class="markdown">
        {{ $optBlock := dict "display" "block" }}
        {{ .answer | $.Page.RenderString $optBlock }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
