/* purgecss start ignore */

@tailwind  base;

// Preflight overrides

@tailwind components;

// Lower rem size on small screens (all units are rem, so reduces everything)

html { font-size: 14px; }  

@media (min-width: 640px) { /* Small (sm) */
  html { font-size: 1rem; }
}

// Colors

.bg-primary {
  background-color: rgba(16, 24, 46, 1);
}

.text-color-header {
  @apply text-black;
}

.text-color-body {
  @apply text-gray-800;
}

.text-color-body-bold {
  @apply text-black;
}

.text-color-link-dark {
  @apply text-blue-600;
}

.text-color-link-light {
  @apply text-blue-400;
}

.hover\:text-color-link-dark {
  &:hover {
    @apply text-color-link-dark;
  }
}

.hover\:text-color-link-light {
  &:hover {
    @apply text-color-link-light;
  }
}

// Buttons

.btn {
  @apply font-bold py-2 px-4 rounded bg-white text-black text-center whitespace-nowrap;
}

.btn:hover {
  @apply bg-gray-400;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-primary {
  @apply btn bg-blue-500 text-white;
}

.btn-primary:hover {
  @apply bg-blue-700;
}

.btn-large {
  @apply py-3 px-6 text-xl;
}

// Video embed

.video-embed {
  --video--width: 1920;
  --video--height: 1080;
  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); 
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Links

.text-link-light {
  @apply text-color-link-light;
}

.text-link {
  @apply text-color-link-dark;
}

.text-link-hover {
  @apply underline;
}

.text-link:hover {
  @apply text-link-hover;
}

/* purgecss end ignore */

@tailwind utilities;

// Markdown

/* purgecss start ignore */

.markdown {

  // fonts 

  > * {
    @apply leading-relaxed;
    @apply text-color-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
    @apply text-color-header;
  }

  // spacing

  > *:not(:last-child) {
    @apply mb-6;
  }

  > ul > *,
  > ol > * {
    @apply mb-4;
  }

  > h1, > h2, > h3 {
    @apply mt-8;
  }

  // links

  a {
    @apply text-link;
    &:hover {
      @apply text-link-hover;
    }
  }

  // emphasis

  strong {
    @apply font-medium;
    @apply text-color-body-bold;
  }

  em {
    @apply italic;
  }

  // hr

  > hr {
    @apply border-t-0 border-r-0 border-l-0 border-b-2 border-gray-200 my-8;
  }

  // blockquote

  > blockquote {
    @apply mx-6;
    @apply italic;
  }

  // headers

  > h1 {
    @apply text-2xl;
  }

  > h2 {
    @apply text-2xl;
  }

  > h3 {
    @apply text-lg;
  }

  > h4 {
    @apply text-sm;
  }

  // code

  pre {
    @apply font-mono;
    @apply p-4;
    @apply overflow-x-auto;
    @apply text-sm;
    @apply bg-primary;
  }

  :not(pre) > code {
    @apply align-baseline;
    @apply font-mono;
    @apply px-1;
    @apply whitespace-nowrap;
  }

  > p code,
  > ul li *:not(pre) code,
  > ul li > code,
  > ol li *:not(pre) code,
  > ol li > code
  {
    @apply text-sm;
  }

  > table code {
    @apply text-xs;
  }

  // lists

  ul {
    @apply list-none;
    > li {
      @apply relative pl-5;
      &::before {
        @apply absolute left-0 text-gray-400 inline-block mr-3;
        content: "\2022";
      }
    }
  }

  ol {
    @apply list-none;
    counter-reset: item;
    > li {
      @apply relative pl-6;
      &::before {
        @apply absolute left-0 mr-3;
        content: counter(item) ".";
        counter-increment: item;
      }
    }
  }

  // tables

  table {
    @apply w-full text-left;
    th, td {
      @apply text-sm p-2;
    }
    > thead > tr {
      @apply bg-gray-100;
      @apply border-b border-gray-300;
      @apply font-medium;
    }
    > tbody > tr:not(:last-child) {
      @apply border-b border-gray-200;
    }
  }

  // images
  
  img {
    @apply m-auto;
  }

}

.light-links {
  // links
  a {
    @apply text-link-light;
    &:hover {
      @apply text-link-hover;
    }
  }
}

/* purgecss end ignore */

/* purgecss start ignore */

/* Generated with: hugo gen chromastyles --style=pygments > assets/css/syntax.css */
@import "syntax";

/* purgecss end ignore */
