{{ define "main" }}
<div class="flex-grow m-auto max-w-xl my-12 px-5">
  <h1 class="mb-2 text-3xl">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <div class="markdown">
    <p>The following pages contain our terms of service and related policies you might care about:</p>
    <ul>
      {{ range .Pages.ByWeight }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
