{{ $img := "/media/landing-page/monitor-stream-2.png" }}
<div class="relative">
  <div class="border-4 border-blue-500 border-opacity-25 rounded-lg">
    <img src="{{ $img }}" />
    <div class="absolute rounded-lg top-0 left-0 w-full h-full bg-gradient-to-b from-transparent via-transparent to-black opacity-25"></div>
  </div>
  <div class="demo-modal-button absolute top-0 left-0 w-full h-full flex justify-center items-center cursor-pointer">
    <div class="btn inline-flex space-x-2 items-center justify-center opacity-75 hover:opacity-100 hover:bg-white">
      <span class="block h-5 w-5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <span>Watch demo</span>
    </div>
  </div>
</div>
<div
  class="demo-modal fixed transition-opacity duration-200 ease opacity-0 pointer-events-none w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="demo-modal-overlay absolute w-full h-full bg-black opacity-75 top-0 left-0 cursor-pointer"></div>
  <div class="absolute w-4/5 bg-black rounded-md shadow-md">
    <div class="w-full h-full">
      <video class="demo-video w-full h-full" controls preload="none">
        <source src="https://storage.googleapis.com/beneath-public/demo.mp4" type="video/mp4">
      </video>
      <!-- <iframe src="https://www.youtube-nocookie.com/embed/shoIZiW5__8?iv_load_policy=3&modestbranding=1&rel=0" allowfullscreen></iframe> -->
    </div>
  </div>
  <div class="demo-modal-cancel absolute top-5 right-5 cursor-pointer text-gray-300 hover:text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd" />
    </svg>
  </div>
</div>
<script defer>
  const modal = document.querySelector('.demo-modal')
  const video = document.querySelector('.demo-video')
  
  function showModal() {
    modal.classList.remove('opacity-0')
    modal.classList.remove('pointer-events-none')
    video.play()
  }

  function hideModal() {
    modal.classList.add('opacity-0')
    modal.classList.add('pointer-events-none')
    video.pause()
  }

  const button = document.querySelector('.demo-modal-button')
  button.addEventListener('click', showModal)

  const overlay = document.querySelector('.demo-modal-overlay')
  overlay.addEventListener('click', hideModal)

  const cancel = document.querySelector('.demo-modal-cancel')
  cancel.addEventListener('click', hideModal)

  document.body.addEventListener('keypress', function (e) {
    if (e.key == "Escape") {
      hideModal();
    }
  });
</script>