<footer class="bg-primary">
  <div class="m-auto text-white my-12 px-3 lg:px-0">
    <div class="flex justify-center text-center flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6">
      <p class="text-gray-500">&copy; {{ .Site.Params.copyright }}</p>
      <span class="flex justify-center space-x-6">
        {{ range .Site.Menus.footer1 }}
          <a class="text-gray-500 hover:text-color-link-dark" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </span>
      <span class="flex justify-center space-x-3">
        {{ range .Site.Menus.footer2 }}
        <a class="text-gray-500 hover:text-color-link-dark" href="{{ .URL }}" title="{{ .Name }}">
          <span class="block w-5 h-5">{{ if .Params.icon }}{{ readFile .Params.icon | safeHTML }}{{ else }}{{ .Name }}{{ end}}</span>
        </a>
        {{ end }}
      </span>
    </div>
  </div>
</footer>
