{{ $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
{{ $description := cond (ne (len .Description) 0) .Description (.GetPage "/").Description }}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}" />

  <link rel="canonical" href="{{ .Permalink | relURL }}">
  <link rel="alternate" href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" title="Blog Feed | {{ .Site.Title }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@BeneathHQ" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/media/logo/banner-square.png" />

  <!-- If you update these, also do so in beneath-hq/beneath/web/pages/_document.js -->
  <meta name="theme-color" content="#10182e">
  <meta name="msapplication-TileColor" content="#10182e">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <link rel="manifest" href="/favicon/manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

  {{ $style := resources.Get "css/app.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" />
</head>
