<nav class="bg-primary">
  <div class="max-w-screen-xl m-auto text-white px-5 py-4 flex center items-center flex-wrap">
    <!-- Logo -->
    <div class="h-8">
      <a href="/" title="Home">
        {{ readFile "static/media/logo/icon-text-white.svg" | safeHTML }}
      </a>
    </div>
    
    <!-- Spacer -->
    <div class="flex-grow md:hidden"></div>

    <!-- Hamburger -->
    <div class="md:hidden">
      <div id="menu-toggle">
        <svg class="h-5 w-5 text-white fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </div>
    </div>
    
    <!-- Menu -->
    <div id="menu-nav" class="flex-grow hidden block md:flex md:items-center w-full md:w-auto pt-4 md:pt-0">
      <!-- Left menu -->
      <div id="left-menu">
        <ul class="flex flex-col md:flex-row">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if eq .Params.Side "left" }}
          {{ if eq .Pre "button" }}
          <li class="ml-10 my-3 md:my-0">
            <a href="{{ .URL }}" class="tracking-wide btn-primary">
              {{ .Name }}
            </a>
          </li>
          {{ else }}
          <li class="ml-10 my-1 md:my-0">
            <a href="{{ .URL }}"
              class="tracking-wide hover:text-color-link-dark {{ if hasPrefix $currentPage.RelPermalink .URL }} text-color-link-dark font-bold {{ else }} text-gray-300 {{ end }}"
              {{ if .Params.Newtab }} target="_blank" {{ end }}
              title="{{ .Name }}"
              >
              {{ if .Params.Icon }}
              <span class="block w-5 h-5">{{ readFile .Params.icon | safeHTML }}</span>
              {{ else }}
              {{ .Name }}
              {{ end }}
            </a>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>

      <!-- Spacer -->
      <div class="md:flex-grow"></div>

      <!-- Right menu -->
      <div id="right-menu">
        <ul class="flex flex-col md:flex-row">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if ne .Params.Side "left" }}
          {{ if eq .Pre "button" }}
          <li class="ml-10 my-3 md:my-0">
            <a href="{{ .URL }}" class="tracking-wide btn-primary">
              {{ .Name }}
            </a>
          </li>
          {{ else }}
          <li class="ml-10 my-1 md:my-0">
            <a href="{{ .URL }}"
              class="tracking-wide hover:text-color-link-dark {{ if hasPrefix $currentPage.RelPermalink .URL }} text-color-link-dark font-bold {{ else }} text-gray-300 {{ end }}"
              {{ if .Params.Newtab }} target="_blank" {{ end }}
              title="{{ .Name }}"
              >
              {{ if .Params.Icon }}
              <span class="block w-5 h-5">{{ readFile .Params.icon | safeHTML }}</span>
              {{ else }}
              {{ .Name }}
              {{ end }}
            </a>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  // Hamburger menu implementation
  (() => {
    const menu = {
      button: document.querySelector("#menu-toggle"),
      nav: document.querySelector("#menu-nav"),
      toggle: (e) => {
        menu.nav.classList.toggle("hidden");
      },
    };
    menu.button.addEventListener("click", menu.toggle);
  })();
</script>
