{{ define "main" }}
<!-- hero -->
<div class="flex-grow flex pt-12 pb-12 bg-primary text-white">
  <div class="max-w-screen-xl m-auto px-5">
    <div class="flex flex-col lg:flex-row ">
      <!-- hero -->
      <div class="lg:w-2/5 mb-12 lg:mb-0">
        <h1 class="text-5xl lg:text-5xl font-bold text-center lg:text-left lg:leading-snug mb-6">{{ .Params.Hero.title | safeHTML }}</h1>
        {{ range .Params.Hero.paragraphs }}
          <p class="text-xl leading-normal text-left text-gray-400 mb-6">{{ .text | safeHTML }}</p>
        {{ end }}
        <!-- call-to-actions -->
        <div class="flex flex-col md:flex-row justify-center md:justify-start space-y-4 md:space-y-0 md:space-x-4 mt-8 mb-12">
          {{ range .Params.ctas.buttons }}
          <a href="{{ .url }}" target="_blank">
            <div class="btn {{ if .primary }} btn-primary {{ end }} w-full inline-flex space-x-2 items-center justify-center">
              {{ if .icon }}<span class="block h-5 w-5">{{ readFile .icon | safeHTML }}</span>{{ end }}
              <span>{{ .label }}</span>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <!-- demo -->
      <div class="lg:w-3/5 lg:m-auto lg:ml-16">
        {{ partial "demo" }}
      </div>
    </div>
  </div>
</div>
{{ end }}