<div class="flex justify-center">
  <div id="mc_embed_signup">
    <form action="https://network.us18.list-manage.com/subscribe/post?u=ead8c956abac88f03b662cf03&amp;id=466a1d05d9"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div id="mc_embed_signup_scroll" class="flex">
        <input type="email" value="" name="EMAIL" class="border-t border-l border-b border-black bg-white px-3 rounded-l"
          id="mce-EMAIL" placeholder="Your email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_ead8c956abac88f03b662cf03_466a1d05d9" tabindex="-1" value=""></div>
        <div class="clear-both"><input type="submit" value="Subscribe to updates" name="subscribe"
            id="mc-embedded-subscribe"
            class="btn btn-primary rounded-none rounded-r border-t border-r border-b border-black"></div>
      </div>
    </form>
  </div>
</div>
